{
  "parser": "babel-eslint",

  "env": {
    "node": true,
    "es6": true
  },

  "ecmaFeatures": {
    "blockBindings": true
  },

  "extends": "eslint:recommended",

  "rules": {
    "no-console": 1,

    "curly": [ 2, "all" ],
    "eqeqeq": [ 2, "smart" ],

    "callback-return": 2,

    "array-bracket-spacing": [ 1, "always", { "objectsInArrays": false, "arraysInArrays": false }],
    "block-spacing": [ 1, "always" ],
    "brace-style": 2,
    "comma-spacing": 2,
    "comma-style": 2,
    "eol-last": 2,
    "func-names": 1,
    "indent": [ 2, 2, { "SwitchCase": 1 }],
    "max-len": [ 1, 100, 2 ],
    "no-trailing-spaces": 1,
    "quotes": [ 2, "single", "avoid-escape" ],
    "semi": [ 2, "always" ],

    "no-var": 2,
    "prefer-const": 2,
    "prefer-template": 2
  }
}
